/* .forecast-heading {
    visibility: hidden;
} */

/* Basic font and colour styling */

body {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: lightblue;
}

h1 {
    text-decoration: bold;
    text-align: center;
    color: #ff5500;
    padding-top: 30px;
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

h2 {
    color: #b33c00;
    font-weight: 500;
}

h3 {
    color: #b33c00;
    font-weight: 300;
}

/* Header styling including image */
.weather-header {
    background-image: url(../images/clouds.jpeg);
    background-size: cover;
    margin: 0;
    height: 100px;
}
