
/* .forecast-heading {
    visibility: hidden;
} */

:root {
    --brightOrange: #ff5500;
}

/* Basic font and colour styling */

body {
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: lightblue;
}

/* Header styling including image */
.weather-header {
    background-image: url(../images/clouds.jpeg);
    background-size: cover;
    margin: 0;
    height: 100px;
}

.search-area {
    background-color: azure;
}

.current-area {
    background-color: #c2f5fb;
}

#search-button {
    width: 100%;
    background-color:var(--brightOrange);
    color: white;
}

#search-input {
    width: 100%;
    margin-bottom: 10px;
}

h1 {
    padding-top: 30px;
    font-family: "Domine", serif;
    color: var(--brightOrange);
}

/* Styling the jQuery search history buttons */
.cityButton {
    background-color: #c2f5fb;
    color: var(--brightOrange);
    width: 100%;
    margin-bottom: 10px;
}

/* Styling the 5 day weather forecast cards */
.forecast-row {
    justify-content: center;
}

h3.forecast-heading {
    margin-left: 60px;
}

h3.current-heading {
    padding-top: 10px;
}

#form-heading, .forecast-heading {
    margin-top: 10px;
}

.forecast-card p {
    font-size: small;
}

.forecast-card {
    background-color: #c2f5fb;
    color: black;
    justify-content: flex-start;
    align-items: right;
    align-content: right;
    margin-left: 10px;
}

.dateHeader {
    font-weight:1000;
    size: 18px;
    padding-top: 5px;
    color: var(--brightOrange);
}

h4 {
    color: var(--brightOrange);
}

